/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.choice p {
    background-color: #081b31;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.choice input {
    background-color: #081b31;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
}

.message {
    margin-top: 40px;
}

#msg {
    display: inline-block; /* fixes full width issue */
    font-size: 1.2rem;
    background-color: #081b31;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
}

#play-btn{
    padding: 7px 35px;
    margin-top: 45px;
    border-radius: 20px;
    background-color: rgb(45, 90, 180);
    color: white;
    font-size: 17px;
    font-weight: 800;

}